<% provide(:title,"About") %>
<h1>About</h1>
<p>
  The <a href="https://railstutorial.jp"><em>Ruby on Rails Tutorial</em></a>
  is a <a href="https://railstutorial.jp/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencasts series</a>
  to touch web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>
  This is the sample application for the tutorial
</p>